* {
    box-sizing: border-box;
  }
  body{
      font-family: sans-serif;
      background-color: white;
      font-size: 15px;
      line-height: 1.5;
      padding: 0;
      margin: 0;
  }
  .container{
    width:620px;
    height: auto;
    margin: 60px auto;
    background-color: #faf0f0;
    border-radius: 5px;
  }
.base{
    padding: 10px 50px;
}
h1{
    text-align: center;
    font-weight: lighter;
    color: rgb(205, 3, 3);
}
.img{
    height: 150px;
    width: 300px;
    opacity: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.inputbox{
  width: auto;
  font-size: medium;
  display: block;
  
}
.inputdata{
  height: 40px;
  width: 250px;
   
}
#dob{
  width: 510px;
}

#number{
  width: 510px;
}

#mailid{
  width: 510px;
}


input[type=button]{
    width: 150px;
    margin-left: 35%;
    margin-bottom: 5%;
    outline: none;
    border: none;
    border-radius: 2px;
    background-color: #ca0a0a;
    color: #ffffff;
    padding: 14px 16px;
    text-align: center;
    font-size: 16px;
  }
  input[type=button]:hover{
    background-color: #0d5b02;
  }
